<%= sanitize @bid.message %>

-------------------
<p>
    This applicant was brought to you by the
    <a href="premiumlegalexchange.com">Premium Legal Exchange</a>, an
    online marketplace where agencies & law firms can find the most
    qualified attorneys for their projects. Visit PLE to post your next
    project:
    <a href="premiumlegalexchange.com">http://PremiumLegalExchange.com.</a>
</p>