<% if signed_in? %>

	<table class="font" summary="For signed-in users">
		<tr>
			<td class "main">
				<h1 class="jobpost">Post a New Project</h1>
				<%= render 'shared/jobpost_form'%>
				</br>
			</td>
			<td class = "sidebar round">
				<%= render 'shared/user_info' %>
				<%= render 'shared/stats' %>
			</td>
		</tr>
	</table>

<% else %>
<h1>You must be signed in to access this page.</h1>

<%= link_to "Sign up now!", signup_path, :class => "signup_button round" %>

<% end %>