/* **********************common css starts********************* */
body,div,ul,li,h1,h2,h3,h4,h5,h6,form,fieldset,p{padding:0; margin:0; font-weight:normal;}
body{font:14px/16px "Myriad Pro", Arial, Helvetica, sans-serif; color:#504b45; height:100%; background:url(../images/body_bg.jpg) repeat-x 0 0;}
body#home {font:14px/16px "Myriad Pro", Arial, Helvetica, sans-serif; color:#504b45; height:100%; background:url(../images/body_bg_home.jpg) repeat-x 0 0;}
img,fieldset{border:none; margin:0; padding:0;}
.left{float:left;}
.right{float:right; width:auto;}
.full{float:left; width:100%;}
.curv{float:left; width:100%;}
.curv img{float:left}
.map_c{position:relative; margin-top:-8px;}
span.clear{clear:both;}

a:focus{outline:none}
a{color:#00396E; text-decoration:underline}
a:hover{color:#D54E28; text-decoration:none}
input:focus{outline:none;}

/* **********************common css ends********************* */

/* **********************wrapper starts********************* */
#wrapper{width:950px; margin:0 auto;}

/* **********************flash_errors ********************* */
#flash_errors {
    display: inline-block;
    margin-top: 1em;
}

#yield {
    display: table;
}

/* **********************header starts********************* */
#header{float:left; width:950px; }

#header .top_link{float:left; width:100%;  background:url(../images/top_header_bg.jpg) no-repeat 0 0;}
#header .top_link .login_area{float:right; width:auto; background:url(../images/login_bg.jpg) repeat-x 0 0;}
#header .top_link .login_area .left{float:left; width:7px; height:37px; background:url(../images/login_left_bg.jpg) no-repeat 0 0;}
#header .top_link .login_area .right{float:left; width:7px; height:37px; background:url(../images/login_right_bg.jpg) no-repeat 0 0;}
#header .top_link .login_area ul{float:left; width:auto; list-style:none;}
#header .top_link .login_area ul li{float:left; width:auto; padding:12px 20px; font:12px/16px "Myriad Pro", Arial, Helvetica, sans-serif; color:#504b45;  background:url(../images/top_link_sep.jpg) no-repeat right center;}
#header .top_link .login_area ul li.last{ background:none;}
#header .top_link .login_area ul li a{float:left; width:auto; color:#fff; text-decoration:none; }
#header .top_link .login_area ul li a:hover{color:#f7b809;  }
#header .top_link .login_area ul li.active a{color:#f7b809;  }


/* **********************header bottom row start********************* */
#header .bottom_row{float:left; width:100%;
}
/***********************logo starts**********************/
#header .logo{float:left; width:340px;}
#header .logo img{float:left;}
/* **********************logo ends********************* */

/* **********************menu starts********************* */
#menu{float:left; width:610px; padding-top:78px;}
#menu ul{float:right; width:auto; list-style:none;}
#menu ul li{float:left; width:auto; margin-right:20px; display:inline; font:15px/16px "Myriad Pro",Arial, Helvetica, sans-serif; text-transform:uppercase}
#menu ul li.last{float:left; margin-right:0; }
#menu ul li a{float:left; width:auto; padding-left:10px; text-decoration:none;  }
#menu ul li a span{float:left; width:auto; color:#fff; padding:14px 13px 13px 6px; color:#07345e;  cursor:pointer}
#menu ul li a:hover{float:left; background:url(../images/menu_left_curve_blue.gif) no-repeat  0px -49px;}
#menu ul li a:hover span{float:left; background:url(../images/menu_right_curve_blue.gif) no-repeat 100% -49px; color:#fff; }

#menu ul li.active{float:left; background:url(../images/menu_left_curve_blue.gif) no-repeat 0px -49px;}
#menu ul li.active span{float:left; background:url(../images/menu_right_curve_blue.gif)  no-repeat 100% -49px;; color:#fff; }
/* **********************menu ends********************* */

/* **********************header bottom row ends********************* */

/* **********************body container starts********************* */
#body_container{width:100%;}
/* **********************content details starts********************* */
#content_details{float:left; width:100%; margin-top:38px; height:336px;}

#inner_page{float:left; width:100; margin-top: 1em;}

.title_header {text-align: center;
/*    margin-bottom: 1em;*/
}

/* **********************left contact starts********************* */
#content_details .left_contact{float:left; width:420px;}
#content_details .left_contact h2{float:left; width:100%; font-size:30px; line-height:40px; color:#fff; text-transform:uppercase; font-family:"Century Gothic",Arial, Helvetica, sans-serif;}
#content_details .left_contact h2 span{ font-weight:bold;}
#content_details .left_contact p{float:left; width:100%; padding:15px 0; margin:25px 0 35px 0; color:#b7d1ea; line-height:18px; border-bottom:solid 1px #3379b8; border-top:solid 1px #3379b8;}
#content_details .left_contact .btn{float:right; width:73%; padding:0px 15px;}
#content_details .left_contact .btn .signup_btn{float:left; width:176px; height:44px; background:url(../images/signup_btn.png) no-repeat  0 0;}
#content_details .left_contact .btn .signup_btn .signup{float:left; width:176px; height:44px; background:none; border:none; cursor:pointer}
/* **********************left contact ends********************* */

/* **********************right contact starts********************* */
#content_details .right_contact{float:right; width:433px;}
#content_details .right_contact h3{float:right; width:100%; font-size:30px; line-height:40px; text-align:center; color:#fff; text-transform:uppercase; font-family:"Century Gothic",Arial, Helvetica, sans-serif; font-weight:bold;}
#content_details .right_contact ol{float:left; padding:0 0 5px 35px; margin:0; }
#content_details .right_contact ol li{font-size:20px; margin-top:31px!important; color:#fff; line-height:22px;}
#content_details .right_contact ol li span{ padding-left:20px;}
#content_details .right_contact .btn{float:right; width:100%; padding:30px 0 0px!important;}
#content_details .right_contact .btn a{float:left; padding:0 36px 0 0;}
#content_details .right_contact .btn a.last{float:left; padding:0;}
/* **********************right contact ends********************* */

/* **********************content details ends********************* */

/* **********************shadow starts********************* */

#shadow{float:left; width:100%;}
/* **********************shadow ends********************* */

/* **********************our facility starts********************* */

#our_facility{float:left; width:100%;}
#our_facility ul{float:left; width:100%; list-style:none;}
#our_facility ul li{float:left; width:271px; margin-right:65px;}
#our_facility ul li.last{ margin-right:0;}
#our_facility ul li h3{float:left; width:268px; height:29px; padding-top:8px; font-size:20px; line-height:22px; color:#fff; text-align:center; background:url(../images/heading_bg.jpg) repeat-x  0 0; border:solid 1px #1e568f;}
#our_facility ul li .photo{float:left; width:264px; padding:2px; margin-top:5px; border:solid 1px #d5d5d5;}
#our_facility ul li p{float:left; width:100%; padding:20px 0 0 0; color:#504c44; line-height:18px; font-family:Arial, Helvetica, sans-serif;}
#our_facility ul li p a{color:#ef7208; text-decoration:underline}
#our_facility ul li p a:hover{color:#ef7208; text-decoration:none}
#our_facility ul li img{float:left; padding:0;}

/* **********************our facility ends********************* */

/* **********************news row starts********************* */
#news_row{float:left; width:100%; margin-top:75px;}
#news_row .recent_projects{float:left; width:600px;}
#news_row .recent_projects h3{float:left; width:100%; padding-bottom:20px; font-size:28px; line-height:30px; color:#717171;}
#news_row .recent_projects ul{float:left; width:100%; list-style:none;}
#news_row .recent_projects ul li{float:left; width:100%; border-top:solid 1px #cdd6df; padding:17px 0 14px 0; margin:0; }
#news_row .recent_projects ul li .blog_details{float:left; width:100%;}
#news_row .recent_projects ul li .blog_details .details{float:left; width:520px;}
#news_row .recent_projects ul li .blog_details .details .top_row{float:left; width:100%;  font-size:12px; color:#000000;}
#news_row .recent_projects ul li .blog_details .details .top_row .col1{float:left; width:304px; text-transform:uppercase; font-weight:bold;}
#news_row .recent_projects ul li .blog_details .details .top_row .col2{float:left; width:157px;  font-weight:bold;}
#news_row .recent_projects ul li .blog_details .details .top_row .col3{float:left; width:50px;  font-weight:bold;}
#news_row .recent_projects ul li .blog_details .details p{float:left; width:100%; padding-top:4px; color:#000000;}
#news_row .view_all_projects{float:left; width:100%; border-top:solid 1px #cdd6df; padding-top:15px;}
#news_row .view_all_projects a{float:left; width:auto; color:#284f73; text-decoration:underline; font-size:14px;}
#news_row .view_all_projects a:hover{text-decoration:none;}
#news_row .recent_projects ul li .blog_details .view_project{float:right; width:60px; }

/* **********************news row ends********************* */


#right_news{float:right; width:255px;}

#news_row .testimonials {float:left; width:100%;}
#news_row .testimonials h3{float:left; width:100%; padding-bottom:20px; font-size:28px; line-height:30px; color:#717171; text-transform:uppercase; text-align:center;}
#news_row .testimonials  p{float:left; width:100%; padding-top:4px; color:#000000; line-height:18px;}
#news_row .testimonials  p b{float:right; width:100px; padding-top:4px; text-align:right; font-style:italic;}

#news_row .newsletter {float:left; width:100%; padding-top:50px;}
#news_row .newsletter h3{float:left; width:100%; padding-bottom:20px; font-size:28px; text-align:center; line-height:30px; color:#717171; text-transform:uppercase;}
#news_row .newsletter .newsletter_box{float:left; width:100%; background:#d9d9d9;}
#news_row .newsletter .newsletter_box .workarea{float:left; width:226px; padding:12px;}

#news_row .newsletter .workarea p{float:left; width:100%; padding-top:4px; color:#000000;}

fieldset{float:left; width:255px; padding-top:10px;}

div.search_projects {
    float: left;
    width: 170px;
    display: inline;
    vertical-align: top;
    padding: 19px;
    background: #1b6bb4;
    border-style:solid;
    border-width:1px;
}

div.search_projects.round form label {
    color: goldenrod;
    font: bold 14px/16px "Arial", Arial, Helvetica, sans-serif;
}

div.browse_projects {
    float: left;
    width: 700px;
    display: inline;
    vertical-align: top;
    padding: 20px;
/*    background: blue;*/
    /*Calculation goes like this:
    container - search_project (width + 2x padding) - browse_projects 2x padding*/
}

input{
      width:160px; height:20px; padding-left:6px;
      background:url(../images/search_bg.gif) no-repeat 0 0;
      display:inline; border:none; color:#717171;
      font:12px/16px  Arial, Helvetica, sans-serif;
}

input#search_max_budget_gte{
      width:35px; height:20px; padding-left:6px;
      background:url(../images/search_bg.gif) no-repeat 0 0;
      display:inline; color:#717171;
      font:12px/16px  Arial, Helvetica, sans-serif;
}
input#search_max_budget_lte{
      width:35px; height:20px; padding-left:6px;
      background:url(../images/search_bg.gif) no-repeat 0 0;
      display:inline; color:#717171;
      font:12px/16px  Arial, Helvetica, sans-serif;
}

input#search_submit{
    float:left; width:70px; height:20px;
    background: #DAB220;
    font-weight: bold;
    font-size: 120%;
    color:#504b45;
    cursor:pointer;
    padding:0;
    margin-top: 5px;
    border-style:solid;
    border-width:1px;
}

input.email_input{float:left; width:178px; height:41px; padding-left:6px; background:url(../images/search_bg.gif) no-repeat 0 0; display:inline; border:none; color:#717171; font:12px/41px  Arial, Helvetica, sans-serif; }
input.search_brn{float:left; width:40px; height:41px; background:url(../images/search_btn.gif) no-repeat 0 0; cursor:pointer; padding:0; border:none; }

#footer {float:left; width:100%; background:#c7c7c7; margin-top:70px;}
#footer .footer_inner_row{width:950px; margin:0 auto;}
#footer .footer_inner_row ul{float:left; width:100%; list-style:none; padding-top:42px;}
#footer .footer_inner_row ul li{float:left; width:auto; padding:12px 15px 12px 15px; background:url(../images/footer_sep.gif) no-repeat   0 50% ;}
#footer .footer_inner_row ul li.first{background:none; padding-left:0;}
#footer .footer_inner_row ul li.last{padding-right:0;}
#footer .footer_inner_row ul li img{float:none; vertical-align:middle; display:inline;}
#footer .footer_inner_row p{float:left; width:100%; margin-top:20px; padding:20px 0; text-align:center; border-top:solid 1px #b2b2b2; color:#999999;}
#footer .footer_inner_row p span{color:#6c6c6c;}

/* I'm using this color wheel scheme:  http://colorschemedesigner.com/#3B31WiinnrrtI  */

/*.container {
	width: 960px;
}*/

/*body {
	background: #FFF;
}*/

/*header { padding-top: 20px;
	}*/
	
/*header img {
	padding: 1em; 
	background: #fff;
}*/

/*section {
	margin-top: 1em; 
	font-size: 120%;
	padding: 20px;
	background: #fff;
}*/

section h1 {
	font-size: 200%;
}

/* links */
a {
	color: #09c;
	text-decoration: none;
}

a:hover {
	color: #069; 
	text-decoration: underline; 
}

a:visited {
	color: #069; 
}

/* navigation */
nav {
	float: right; 
	background: white; 
	padding: 0 0.7em; 
	white-space: nowrap;
}

nav ul {
	margin: 0;
	padding: 0;
}

nav ul li {
	list-style-type: none; 
	display: inline-block;
	padding: 0.2em 0em; 
}

nav ul li a {
	padding: 0 5px; 
	font-weight: bold; 
}

nav ul li a:visited {
	color: #09c;
}

nav ul li a:hover {
	text-decoration: underline; 
}

/* Sign up button */

a.signup_button {
  margin-left: auto;
  margin-right: auto;
  display: block;
  text-align: center;
  width: 190px;
  color: #fff;
  background: #9FC1E7;
  font-size: 150%;
  font-weight: bold;
  padding: 10px;
}

/* ROUND CORNERS */

.round {
	-moz-border-radius:    10px;
  	-webkit-border-radius: 10px;
  	border-radius:         10px;
}

/* Footers */

footer {
  text-align: center;
  margin-top: 10px;
  width: 710px;
  margin-left: auto;
  margin-right: auto;
}

footer nav {
  float: none;
}

/* user show page */

table.profile {
	width: 100%; 
	margin-bottom: 0;
}

td.main {
	width: 70%;
	padding: 1em;
}

td.sidebar {
	width: 30%;
	padding: 1em;
	vertical-align: top;
	background: #9FC1E7;
}

.profile img.gravatar {
	border: 1px solid #999; 
	margin-bottom: -15px;
}

div.field, div.actions {
	margin-bottom: 10px;
	
}


/* Errors Styling */

div.flash.error {
  float: left;
  margin-top: 10px;
  padding: 2px;
  background: #ff9999;
  display: table;
  position: relative;
}

.field_with_errors {
  margin-top: 10px;
  padding: 2px;
  background-color: red;
  display: table;
}

.field_with_errors label {
  color: #fff;
}

#error_explanation {
  width: 400px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #c00;
  color: #fff;
}

#error_explanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}

ul.users {
	margin-top: 1em;
	}
	
ul.users li {
	list-style: none;
}

/* from Chapter 11 
   styling Microposts */

h1.micropost {
  margin-bottom: 0.3em;
}

table.microposts {
  margin-top: 1em;
}

table.microposts tr {
  height: 70px;
}

table.microposts tr td.gravatar {
  border-top: 1px solid #ccc;
  vertical-align: top;
  width: 50px;
}

table.microposts tr td.micropost {
  border-top: 1px solid #ccc;
  vertical-align: top;
  padding-top: 10px;
}

table.microposts tr td.micropost span.timestamp {
  display: block;
  font-size: 85%;
  color: #666;
}

div.user_info img {
  padding-right: 0.1em;
}

div.user_info a {
  text-decoration: none;
}

div.user_info span.user_name {
  position: absolute;
}

div.user_info span.microposts {
  font-size: 80%;
}

form.new_micropost {
  margin-bottom: 2em;
}

form.new_micropost textarea {
  height: 4em;
  margin-bottom: 0;
}

/* CSS for jobposts */

h1.jobpost {
  margin-bottom: 0.3em;
}

table.jobposts {
  margin-top: 1em;
}

table.jobposts tr {
  height: 70px;
}

table.jobposts tr td.gravatar {
  border-top: 1px solid #ccc;
  vertical-align: top;
  width: 50px;
}

table.jobposts tr td.jobpost {
  border-top: 1px solid #ccc;
  vertical-align: top;
  padding-top: 10px;
}

table.jobposts tr td.jobpost span.timestamp {
  display: block;
  font-size: 85%;
  color: #666;
}

table.jobposts tr td.jobpost span.title {
  display: block;
  font-size: 110%;
  color: #000;
  margin-bottom: 0.3em;
}

table.jobposts tr td.jobpost span.location {
  display: block;
  font-size: 100%;
  color: #000;
  margin-bottom: 0.3em;
}

table.jobposts tr td.jobpost span.poster {
  display: block;
  font-size: 100%;
  color: #000;
  margin-bottom: 0.3em;
}

table.jobposts tr td.jobpost span.work_type {
  display: block;
  font-size: 100%;
  color: #000;
  margin-bottom: 0.3em;
}

table.jobposts tr td.jobpost span.max_budget {
  display: block;
  font-size: 100%;
  color: #000;
  margin-bottom: 0.3em;
}

table.jobposts tr td.jobpost span.work_intensity {
  display: block;
  font-size: 100%;
  color: #000;
  margin-bottom: 0.3em;
}

table.jobposts tr td.jobpost span.overtime {
  display: block;
  font-size: 100%;
  color: #000;
  margin-bottom: 0.3em;
}

table.jobposts tr td.jobpost span.start_date {
  display: block;
  font-size: 100%;
  color: #000;
  margin-bottom: 0.3em;
}

table.jobposts tr td.jobpost span.duration {
  display: block;
  font-size: 100%;
  color: #000;
  margin-bottom: 0.3em;
}

table.jobposts tr td.jobpost span.skills {
  display: block;
  font-size: 100%;
  color: #000;
  margin-bottom: 0.3em;
}

table.jobposts tr td.jobpost span.description {
  display: block;
  font-size: 100%;
  color: #000;
  margin-bottom: 0.3em;
}

div.user_info img {
  padding-right: 0.1em;
}

div.user_info a {
  text-decoration: none;
}

div.user_info span.user_name {
  position: absolute;
}

div.user_info span.jobposts {
  font-size: 80%;
}

form.new_jobpost {
  margin-bottom: 2em;
}

form.new_jobpost textarea {
  height: 4em;
  margin-bottom: 0;
}

/* Left Content Search Box */

td.searchbox {
	width: 30%;
	padding: 1em;
	vertical-align: top;
/*	background: #DA987A;*/
	background: #9FC1E7;
}

/* Sign up button */

a.postproject_button {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1em;
  display: block;
  text-align: center;
  width: 190px;
  color: #fff;
  background: #9FC1E7;
  font-size: 110%;
  font-weight: bold;
  padding: 10px;
}

td.user_searchbox {
    width: 30%;
    padding: 1em;
    vertical-align: top;
    background: #9FC1E7;
}

td.user_profile span.real_name {
  display: block;
  font-size: 100%;
  color: #000;
  margin-bottom: 0.3em;
}

td.user_profile span.yesstatus {
  display: block;
  font-size: 100%;
  color: #66CC00;
/* Green for Available */
  margin-bottom: 0.3em;
}

td.user_profile span.nostatus {
  display: block;
  font-size: 100%;
  color: #FF0000;
/* RED for Unavailable */
  margin-bottom: 0.3em;
}

td.user_profile span.skills {
  display: block;
  font-size: 100%;
  color: #000;
  margin-bottom: 0.3em;
}

td.user_profile span.location {
  display: block;
  font-size: 100%;
  color: #000;
  margin-bottom: 0.3em;
}

td.user_profile span.rating {
  display: block;
  font-size: 100%;
  color: #000;
  margin-bottom: 0.3em;
}

td.user_profile span.jobs_completed {
  display: block;
  font-size: 100%;
  color: #000;
  margin-bottom: 0.3em;
}

td.user_profile span.tagline {
  display: block;
  font-size: 100%;
  color: #000;
  margin-bottom: 0.3em;
}

td.user_profile span.topskills {
  display: block;
  font-size: 100%;
  color: #000;
  margin-bottom: 0.3em;
}

td.user_profile span.resume {
  display: block;
  font-size: 100%;
  color: #000;
  margin-bottom: 0.3em;
}

td.bids {
  width: 25%;
  border-top: 1px solid #ccc;
  vertical-align: top;
  padding-top: 10px;
}

td.main_bid {
	width: 70%;
	padding: 1em;
        vertical-align: top;
}

td.abbrev_user {
  display: inline-block;
  width: 22%;
  font-size: 100%;
  color: #000;
  margin-bottom: 0.0em;
  border-top: 1px solid #ccc;
/*  vertical-align:text-bottom;*/
}

td.abbrev_user_tagline {
  display: block;
  width: 100%;
  color: #000;
/*  margin-bottom: 0.5em;*/
/*  border-bottom: thin solid black;*/
  vertical-align:text-bottom;
}
/*  Need to make multiple SPANS for the abbrev_user block */
div.bidtable span.yesstatus {
  color: #66CC00;
/* Green for Available */
    display: inline-block;
    width: 15%;
    border-top: 1px solid #ccc;
    vertical-align: top;
    padding-top: 30px;
       text-align: right;
}

div.bidtable span.nostatus {
  color: #FF0000;
/* RED for Unavailable */
    display: inline-block;
    width: 15%;
    border-top: 1px solid #ccc;
    vertical-align: top;
    padding-top: 30px;
    text-align: right;
}

div.bidtable span.name {
    display: inline-block;
    width: 20%;
    border-top: 1px solid #ccc;
    vertical-align: top;
    padding-top: 10px;

}

div.bidtable span.location {
    display: inline-block;
    width: 20%;
    border-top: 1px solid #ccc;
    vertical-align: top;
    padding-top: 10px;

}
div.bidtable span.rating {
    display: inline-block;
    width: 20%;
    border-top: 1px solid #ccc;
    vertical-align: top;
    padding-top: 10px;
    text-align: center;
}
div.bidtable span.jobs_completed {
    display: inline-block;
    width: 20%;
    text-align: center;
    border-top: 1px solid #ccc;
    vertical-align: top;
    padding-top: 10px;
}
div.bidtable span.amount {
    display: inline-block;
    text-align: center;
    width: 18%;
    border-top: 1px solid #ccc;
    vertical-align: top;
    padding-top: 10px;
}
div.bidtable span.tagline {
    display: block;
    width: 100%;
    vertical-align: top;
    padding-top: 20px;
    padding-bottom: 20px;
}

div.bidfeed {
    width: 71%;
    margin: auto;
    background: #ffffff;
    display: inline-block;
    vertical-align: top;
}

div.escrow {
    width: 100%;
    margin: auto;
    background: #ffffff;
    display: inline-block;
    vertical-align: top;
}

div.user_searchbox {
    width: 25%;
    padding: 1em;
/*    background: #9FC1E7;*/
    background: #9FC1E7;
    display: inline-block;
}

div.place_bid {
  width: 51%;
  margin: auto;
  padding: 20px;
  border: 1px solid #666;
  background: #eee;
  position: relative;
  margin-bottom: 30px;
}

span.no_results {
    display: block;
    margin-top: 15px;

}