
<section class="span-25 center" id="create-love-action"> 
	
	<h1>How did you show the <span class="love">love?</span></h1>
	<%= f.text_field :act, :placeholder => "Just type in the love action in less than 140 chars" %>

	<%= link_to "Post", {:controller => "loveactions", :action => "create"}, :id => "subscribe", :class => "button tr br" %>

</section>