<!-- Using a Rails Form Helper -->

<center><h1>Update Your Profile</h1></center>

<%= form_for(@user) do |f| %>

          <%= render 'fields', :f => f %>
  
	<div class="actions">
		<%= f.submit "Update" %>  
	</div>

<% end %>
<!-- note that the second embedded Ruby does not have = sign ...-->
</br>

<div>
  <a href="http://gravatar.com/emails" target=_blank>Change Your picture:</a></br>
	<%= gravatar_for @user %>
	
</div>

</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br></br>
</br>
</br>
</br>
