<!-- Using a Rails Form Helper -->
<!--body container starts-->
<div id="body_container">
    <!--project page box starts-->
  <div id="project_page">

<div class="container">

	<div class="span-25 center"><h1 style="margin-top:-15px;" class="title">Let's get you started</h1></div>
	
	<!-- start facebook-button-wrapper -->
	               <div id="facebook-button-wrapper" class="prepend-6 span-13 center">
	                       <a href=""><img src="images/facebook-button.png" border="0"></img></a>

	                       <h2>Or</h2>
	               </div>
	               <!-- end facebook-button-wrapper -->

			<div id="form-wrapper" class="prepend-6 span-13">
				

<%= form_for(@user) do |f| %>

        <%= render 'shared/error_messages', :object => f.object %>

	<%= render 'fields', :f => f %>	

	<div class="field">
	     <input type="submit" value="Sign Up →" class="button-primary small-button">
	     <input type="hidden" value="" name="next">
	 </div>

<% end %>
<!-- note that the second embedded Ruby does not have = sign ...-->

			</div>
		</div>
</div>

  </div>
</div>