<section id="featured" class="span-25">
	<h1 class="center">Show the <span class="love">love.</span> Get Better.</h1>
	<h2 class="center">Relationships don't have to be hard</h2>
	<div role="left-col" class="span-12" style="padding-top:10px;">
		<!-- <h1>Show the love. <br/>Get Better.</h1> -->
		
		<ul>
			<li>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</li>
			<li>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</li>
		</ul>
		
	<div id="options" class="span-11">
		<a style="float:right;" class="button-primary" href="#">Let's Get Started</a>
	 </div>

</div> <!-- end left-col -->

<div role="right-col" class="prepend-2 span-10">
	<a href="#"><img src="images/s3.png" style="width:450px;" border="0"/>
</div>

</section> <!-- end featured -->

<div class="container">

<section id="customers" class="span-25 center">
<img src="images/clients1.png" />
</section>
	
</div>