
  <!--body container starts-->
  <div id="body_container">
    <!--content details starts-->
    <div id="content_details">
      <div class="left_contact">
        <h2>Online Marketplace for<br />
          <span>legal Service providers</span></h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi turpis diam, eleifend sed ornare nec, dignissim ut augue. Proin consectetur molestie ullamcorper. Nam ut pulvinar odio. Aliquam venenatis bibendum massa, nec mattis lectus hendrerit quis. Sed blandit felis quis metus vulputate sed dapibus </p>
        <div class="btn">
          <div class="signup_btn">
            <input name="" type="button" class="signup" />
          </div>
         &nbsp; <img src="images/free.png" alt="" /> </div>
      </div>
      <div class="right_contact">
        <h3>IT'S AS EASY AS </h3>
        <ol>
          <li><span>Firms &amp; Agencies post projects</span></li>
          <li><span>Attorneys find projects that fit their skills</span></li>
          <li><span>Firms &amp; Agencies select attorneys for the job</span></li>
        </ol>
        <div class="btn"><a href="#"><img src="images/post_project_btn.png" alt="" /></a> <a href="#" class="last"><img src="images/find_projects_btn.png"  alt=""/></a></div>
      </div>
    </div>
    <!--content details ends-->
    <div class="clear"></div>
    <div id="shadow"><img src="images/bottom_shadow.jpg" alt="" /></div>
    <!--our facility starts-->
    <div id="our_facility">
      <ul>
        <li>
          <h3>Law Firms &amp; Agencies</h3>
          <div class="photo"><img src="images/photo.jpg" alt="" /></div>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec rutrum, sapien eget rutrum adipiscing, massa massa <a href="#">Read more &raquo;</a> </p>
        </li>
        <li>
          <h3>Contract Attorneys</h3>
          <div class="photo"><img src="images/photo2.jpg" alt="" /></div>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec rutrum, sapien eget rutrum adipiscing, massa massa <a href="#">Read more &raquo;</a> </p>
        </li>
        <li class="last">
          <h3>How We Can Help</h3>
          <div class="photo"><img src="images/photo3.jpg" alt="" /></div>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec rutrum, sapien eget rutrum adipiscing, massa massa <a href="#">Read more &raquo;</a> </p>
        </li>
      </ul>
    </div>
    <!--our facility ends-->
    <!--news row starts-->
    <div id="news_row">
      <!--recent projects starts-->
      <div class="recent_projects">
        <h3>RECENT PROJECTS</h3>
         <!--blog details starts-->
        <ul>
          <li>

            <div class="blog_details">
              <div class="details">
                <div class="top_row">
                  <div class="col1">Lorem ipsum dolor sit amet,</div>
                  <div class="col2">Los Angeles, CA</div>
                  <div class="col3">$40</div>
                </div>
                <p>Los Angeles, CA consectetur adipiscing elit. Donec rutrum, sapien eget rutrum adipiscing, massa massa interdum magna, in eleifend leo orci ac ante. Phasellus commodo, velit eu rutrum rutrum, justo augue scelerisque diam, at accumsan nulla lacus vitae purus. In congue mauris nec est tincidunt.</p>
              </div>
              <div class="view_project"><a href="#"><img src="images/view_project.gif" alt="" /></a></div>
            </div>

          </li>
          <li>
            <div class="blog_details">
              <div class="details">
                <div class="top_row">
                  <div class="col1">Lorem ipsum dolor sit amet,</div>
                  <div class="col2">Los Angeles, CA</div>
                  <div class="col3">$40</div>
                </div>
                <p>Los Angeles, CA consectetur adipiscing elit. Donec rutrum, sapien eget rutrum adipiscing, massa massa interdum magna, in eleifend leo orci ac ante. Phasellus commodo, velit eu rutrum rutrum, justo augue scelerisque diam, at accumsan nulla lacus vitae purus. In congue mauris nec est tincidunt.</p>
              </div>
              <div class="view_project"><a href="#"><img src="images/view_project.gif" alt="" /></a></div>
            </div>
          </li>
          <li>
            <div class="blog_details">
              <div class="details">
                <div class="top_row">
                  <div class="col1">Lorem ipsum dolor sit amet,</div>
                  <div class="col2">Los Angeles, CA</div>
                  <div class="col3">$40</div>
                </div>
                <p>Los Angeles, CA consectetur adipiscing elit. Donec rutrum, sapien eget rutrum adipiscing, massa massa interdum magna, in eleifend leo orci ac ante. Phasellus commodo, velit eu rutrum rutrum, justo augue scelerisque diam, at accumsan nulla lacus vitae purus. In congue mauris nec est tincidunt.</p>
              </div>
              <div class="view_project"><a href="#"><img src="images/view_project.gif" alt="" /></a></div>
            </div>
          </li>
        </ul>
          <!--blog details ends-->
        <div class="view_all_projects"><a href="#">view all projects</a></div>
      </div>
      <!--recent projects ends-->
      <!--right news  starts-->
      <div id="right_news">
        <!--testimonials  starts-->
        <div class="testimonials">
          <h3>Testimonials</h3>
          <p>Los Angeles, CA consectetur adipiscing elit. Donec rutrum, sapien eget rutrum adipiscing, massa massa interdum magna, in eleifend leo orci ac ante. Phasellus commodo, velit eu rutrum rutrum, justo augue scelerisque diam, </p>
          <p><b>John John</b></p>
        </div>
        <!--testimonials  ends-->
        <!--newsletter  starts-->
        <div class="newsletter">
          <h3>Newsletter</h3>
          <div class="newsletter_box">
            <div class="curv"><img src="images/newsletter_top_bg.gif" alt="" /></div>
            <div class="workarea">
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec rutrum, sapien eget </p>
              <form action="">
                <fieldset>
                <input type="text" class="email_input" id="search_input" value="Email Address" name=""/>
                <input type="button" class="search_brn" value="" name=""/>
                </fieldset>
              </form>
            </div>
            <div class="curv"><img src="images/newsletter_bottom_bg.gif" alt="" /></div>
          </div>
        </div>
        <!--newsletter  ends-->
      </div>
      <!--right news  ends-->
    </div>
    <!--news row ends-->
  </div>
  <!--body container ends-->
