<section id="featured" class="span-25">
				<h1 class="center">Show the <span class="love">love.</span> Have a <span class="love">kick-ass</span> relationship.</h1>
				<h2 class="center">Your partner rates what you do for them, giving you insight into what's <span class="underline">really</span> meaningful to them.</h2>
				<div role="left-col" class="span-12" style="padding-top:10px;">
					<!-- <h1>Show the love. <br/>Get Better.</h1> -->
					
					<!-- <h2 style="margin-bottom:10px;">Some Facts</h2> -->
					<ul>
						<li>35% of the time what you think they want isn't what they really want</li>
						<li>Find out what's working in your relationship and what's not.</li>
						<li>Recommendation engine suggests things people you love will likely want.</li>
					</ul>
					
				<div id="options" class="span-11">
					<a style="float:right;" class="button-primary" href="../signup">Let's Get Started</a>
				 </div>
			
			</div> <!-- end left-col -->
		
			<div role="right-col" class="prepend-2 span-10">
				<img src="images/s3.png" style="width:450px;"/>
			</div>
		
			</section> <!-- end featured -->