<!--footer starts-->
<footer>
	<div class="container">
				<div class="span-25">
					<ul class="span-2">
						<li>
							<h4>Product</h4>
							<a title="Home" href="/">Home</a>
						</li>
						<li>
							<a title="Why Show Me The Love?" href="/why">Why Show Me The Love?</a>
						</li>
						<li>
							<a title="Tour" href="/product-tour">Tour</a>
						</li>
						<li>
							<a title="Pricing" href="#">Free Trial</a>
						</li>
					</ul>
					<ul class="span-2">
						<li>
							<h4>Company</h4>
							<a title="About" href="/about">About</a>
						</li>
						<li>
							<a title="Customers" href="/customers">Customers</a>
						</li>
						<li>
							<a title="Careers" href="/careers">Careers</a>
						</li>
					</ul>
					<ul class="span-2">
						<li>
							<h4>Support</h4>
							<a title="Support Center" href="#">Help Center</a>
						</li>
						<li>
							<a title="API" href="#">API</a>
						</li>
					</ul>
					<ul class="span-2">
						<li>
							<h4>Partners</h4>
							<a title="CoSupport" href="/partners/cosupport">CoSupport</a>
						</li>
						<li>
							<a title="Get Satisfaction" href="/partners/getsatisfaction">Get Satisfaction</a>
						</li>
						<li>
							<a title="Google" href="/partners/google">Google&trade;</a>
						</li>
					</ul>
					<ul class="span-2">
						<li>
							<h4>Blog</h4>
							<a title="Recent Customer Support Articles" href="/blog">Recent Articles</a>
						</li>
						<li>
							<a title="Subscribe" href="#">Subscribe</a>
						</li>
					</ul>
					<ul class="span-4">
						<li>
							<h4>Get In Touch</h4>
							<a title="contact" href="/contact">Contact Us</a>
						</li>
						<li>
						<a href="#">info@imagework.com</a>
						</li>
						<li>
	<a href="#">sales@imagework.com</a>
						</li>
						<li>
		<a href="#">support@imagework.com</a>
						</li>
					</ul>
				</div>
				<div class="span-25" style="margin-left:25px;margin-top:30px;">
					<div class="span-8">
						&copy;2011 Show Me The Love Inc. <br/>All Rights Reserved. <a title="Terms of Use" href="/terms">Terms</a> &amp; <a title="Privacy Policy" href="/privacy">Privacy</a>.
					</div>
					<div class="prepend-10 span-6 icons">
						<!-- <a class="rss" href="#">RSS</a> -->
						<a class="linkedin" href="#">LinkedIn</a>
						<a class="youtube" href="#">YouTube</a>
						<a class="facebook" href="#">Facebook</a>
						<a class="twitter" href="#">Twitter</a>
					</div>
				</div>
			</div>

</footer>
<!--footer ends-->