<!--footer starts-->
<div id="footer">
  <div class="footer_inner_row">
    <ul>
      <li class="first"><img src="images/get_in_touch.gif" alt="" /></li>
      <li> <img src="images/phone.gif" alt="" /> 1-800-555-5555</li>
      <li> <img src="images/email.gif" alt="" /> you@yoursite.com</li>
      <li><img src="images/pancile.gif" alt="" />contact Form</li>
      <li> <img src="images/skype.gif" alt="" />YourSkypeUserID</li>
      <li class="last"> <img src="images/link.gif" alt="" /> <a href="#"><img src="images/rss.gif" alt="" /></a> <a href="#"><img src="images/twetter.gif" alt="" /></a> <a href="#"><img src="images/facebook.gif" alt="" /></a> <a href="#"><img src="images/space.gif" alt="" /></a> <a href="#"><img src="images/fliker.gif" alt="" /></a> <a href="#"><img src="images/linkin.gif" alt="" /></a> </li>
    </ul>
    <p>Copyright 2011 <span>Premium Legal Exchange.</span> All Rights  Reserved</p>
    <ul>
        <%= debug(params) if Rails.env.development? %>
    </ul>
  </div>
</div>
<!--footer ends-->